In [17]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.to_csv('modified.csv')

df_modified = pd.read_csv('modified.csv')
df_modified.head(3)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [18]:
df.to_csv('modified_no_index.csv', index=False)

df_modified_no_index = pd.read_csv('modified_no_index.csv')
df_modified_no_index.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [ ]:
df.to_excel('modified.xlsx', index=False)

df_excel = pd.read_excel('modified.xlsx')
df_excel.head(3)

In [ ]:
df.to_csv('modified.txt', index=False, sep='\t')

df_txt = pd.read_csv('modified.txt')
df_txt.head(3)