In [11]:
import pandas as pd
furniture = pd.read_csv('furniture.csv')
furniture

   Serial       Product      Brand   Cost
0       1          Sofa      Sam’s  35000
1       2           Bed   Darien’s  50000
2       3    Nightstand  Stephen’s  11000
3       4  Coffee table      Sam’s  19000
4       5      Wall art      Doy’s   7777

In [12]:
#a. Column names
furniture.columns

Index(['Serial', 'Product', 'Brand', 'Cost'], dtype='object')

In [13]:
furniture.columns[0:2]

Index(['Serial', 'Product'], dtype='object')

In [14]:
# b. Data types
furniture.dtypes

Serial      int64
Product    object
Brand      object
Cost        int64
dtype: object

In [15]:
furniture.Brand.dtype

dtype('O')

In [16]:
# c. Shape
furniture.shape

(5, 4)

In [17]:
furniture.shape[0] #Number of rows

5

In [18]:
furniture.shape[1] #Number of columns

4

In [20]:
# e. Unique values
furniture.index.unique() #We can use the unique() function when we want to see what categories in the data set are unique.

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [25]:
furniture.Brand.unique()

array(['Sam’s', 'Darien’s', 'Stephen’s', 'Doy’s'], dtype=object)

In [22]:
furniture.index.nunique() #And to find out how many, we make a call to nunique().

5

In [26]:
furniture.Brand.nunique()

4