In [11]:
import pandas as pd
furniture = pd.read_csv('furniture.csv')
furniture['Gross'] = furniture.eval('Cost * 1.1')
furniture

   Serial       Product      Brand   Cost    Gross
0       1          Sofa      Sam’s  35000  38500.0
1       2           Bed   Darien’s  50000  55000.0
2       3    Nightstand  Stephen’s  11000  12100.0
3       4  Coffee table      Sam’s  19000  20900.0
4       5      Wall art      Doy’s   7777   8554.7

In [12]:
furniture.describe()

         Serial        Cost        Gross
count  5.000000      5.0000      5.00000
mean   3.000000  24555.4000  27010.94000
std    1.581139  17696.3512  19465.98632
min    1.000000   7777.0000   8554.70000
25%    2.000000  11000.0000  12100.00000
50%    3.000000  19000.0000  20900.00000
75%    4.000000  35000.0000  38500.00000
max    5.000000  50000.0000  55000.00000

In [13]:
furniture.Gross.max()

55000.00000000001